

  <div class="container">
    <img id = "waldo-img" src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/ww_giant_image.jpg">
    <div id="active" class="hidden"></div>
  </div>
